body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.box {
	height: 700px;
	width: 440px;
}

svg{
	max-width: 100%;
	max-height: 100%;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 15s linear alternate infinite;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 10000;
	}
	30% {
		stroke-dashoffset: 8000;
	}
	100% {
		stroke-dashoffset: 0;
	}
  }