body {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.box {
	height: 700px;
	width: 440px;
}

svg{
	max-width: 100%;
	max-height: 100%;
}

path{
	animation: dash 10s linear infinite; 
	transform: translate(-367.37988px, 174.76418px); 
	stroke-dasharray: 10000; 
	stroke-dashoffset: 10000;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 10000;
	}
	30% {
		stroke-dashoffset: 8000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}